[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
jupyter = "*"
numpy = "*"
scipy = "*"
pandas = "*"
numexpr = "*"
bottleneck = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
ipympl = "*"
statsmodels = "*"
scikit-learn = "*"
tensorflow = "*"
dill = "*"
ipywidgets = "*"
numba = "*"

[dev-packages]
black = "*"
nb-black = "*"
faker = "*"
numba = "*"

[requires]
python_version = "3.10"
